/* =============================================================================
   Eric Meyer Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}


/* =============================================================================
   Grid System
   Author: Will Moyer
   Site: www.willmoyer.com

   Also see: 
   http://goldengridsystem.com/
   http://www.getskeleton.com/

   Column Size: 100% / 12 = 8.3333%
   Margin Size: Line Height = 1.5em
   ========================================================================== */
    
.row {
  margin: 0 auto;
  max-width: 960px; /* Maximum page width */
}

.column {  
   -webkit-box-sizing: border-box; /* Gutters are now *inside* each column */
      -moz-box-sizing: border-box; 
        -o-box-sizing: border-box; 
           box-sizing: border-box;
   padding: 0; /* No gutters for single column */
   float: left;
   
   /* Small Screens and No Media Queries (IE) */
   
   width: 100%;  /* Every column now 100% */
   margin-bottom: 0.5em; /* Change to adjust spacing between stacked columns */
}

.offset-by-one,
.offset-by-two,
.offset-by-three,
.offset-by-four,
.offset-by-five,
.offset-by-six,
.offset-by-seven,
.offset-by-eight,
.offset-by-nine,
.offset-by-ten,
.offset-by-eleven                  { margin-left: 0%; }

@media only screen and (min-width: 768px) {

.column { 
  padding: 0 .5em; /* Gutter size! */
}

.one.column                      { width: 8.333333%;  }
.two.column                      { width: 16.666666%; }
.three.column                    { width: 24.999999%; }
.four.column                     { width: 33.333332%; }
.five.column                     { width: 41.666665%; }
.six.column                      { width: 49.999998%; }
.seven.column                    { width: 58.333331%; }
.eight.column                    { width: 66.666664%; }
.nine.column                     { width: 74.999997%; }
.ten.column                      { width: 83.333333%; }
.eleven.column                   { width: 91.666663%; }
.twelve.column                   { width: 100%; }

.one-third.column                { width: 33.333333%; }
.two-thirds.column               { width: 66.666666%; }

.offset-by-one                   { margin-left: 8.333333%;  }
.offset-by-two                   { margin-left: 16.666666%; }
.offset-by-three                 { margin-left: 24.999999%; }
.offset-by-four                  { margin-left: 33.333332%; }
.offset-by-five                  { margin-left: 41.666665%; }
.offset-by-six                   { margin-left: 49.999998%; }
.offset-by-seven                 { margin-left: 58.333331%; }
.offset-by-eight                 { margin-left: 66.666664%; }
.offset-by-nine                  { margin-left: 74.999997%; }
.offset-by-ten                   { margin-left: 83.333333%; }
.offset-by-eleven                { margin-left: 91.666663%; }
  
}

/* Responsive Images */

img,
object,
embed,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

.ie img,
.ie object,
.ie embed,
.ie video {
     width: 100%;
}


/* =============================================================================
   Your Styles!

   Author: 
   Site: 

   ========================================================================== */

/* Example */
span {
  background: #e5e5e5;
  display: block;
  color: #444;
  text-align: center;
  font: .75em/3em sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
}





/* =============================================================================
   Media Queries

   Currently resizes text at different breakpoints.
   (I used the HTML element so that it would work with rems.)
   ========================================================================== */

@media only screen and (max-width: 480px) {
    html {font-size: 87.5%;}
  }

@media only screen and (min-width: 768px) {
    html {font-size: 100%;}
  }

@media only screen and (min-width: 1200px) {
    html {font-size: 125%;}
  }